
<template name="dashboard">

    <table>
        <tr>
            <td >
                <form class="estimation">
                    <div class="form-group">
                        <label class="control-label" for="twitter_account">Enter the Twitter account (@account)</label>
                        <div class="twitter_account">
                            <input id="twitter_account" class="form-control"/>
                        </div>
                    </div>
                    <input type="submit" id="estimate" value="Estimate processing time" class="btn btn-primary"/>
                </form>
            </td>
        </tr>
    </table>


    {{#each operations_dashboard_helper}}
    <form class="process">
        <div class="form-group">
            <p>__________________________________</p>
            <input type="hidden" id="_id" value="{{this._id}}"/>
            <input type="hidden" id="cursor" value="{{this.cursor}}"/>
            <label class="control-label" for="account">Account requested</label>
                <input id="account" class="form-control" value="{{this.account}}"/>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <table>
                    <!-- Informations -->
                    <tr>
                        <!-- Estimations -->
                        <td>
                            <!--{{#each this.estimations}}-->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{random this.estimation.date}}" aria-expanded="true" aria-controls="collapseOne">
                                            Date of estimation: {{this.estimation.date}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{random this.estimation.date}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <label class="control-label" for="amount">Amount of followers</label>
                                        <input id="amount" class="form-control" value="{{this.estimation.amount}}"/>
                                        <label class="control-label" for="amount">Time estimated</label>
                                        <input id="time_estimated" class="form-control" value="{{time_converter this.estimation.time_estimated}}"/>
                                    </div>
                                </div>
                            </div>
                            <!--{{/each}}-->
                        </td>
                        <!-- Status -->
                        <td>
                            Ici mettre les infos de temps remaining et cursor en cours.
                            <p></p>
                            cursor:{{this.cursor}} /time remaining: {{this.time_spent}} /time_spent {{time_remaining this.estimation.time_estimated this.time_spent}}
                        </td>
                    </tr>
                    <!-- Buttons -->
                    <tr>

                        <td>
                            <input type="submit" id="process" value="Process" class="btn btn-info"/>
                        </td>
                        <td>
                            <div class="fileList">
                                {{#each fileByAccount this.account}}
                                <div class="file">
                                    {{#if this._id}}
                                        <a href="{{this.url download=true}}" class="btn btn-success" target="_parent">Download {{this._id}}</a>
                                    {{else}}
                                        <a class="btn btn-warning" target="_parent" disabled="true">To be processed</a>
                                    {{/if}}
                                </div>
                                {{/each}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    {{/each}}
</template>
