
<template name="dashboard">

    <table>
        <tr>
            <td style="padding-right:30px">
                <form class="estimation">
                    <div class="form-group">
                        <label class="control-label" for="twitter_account">Enter the Twitter account (@account)</label>
                        <div class="input-group">
                            <span class="input-group-addon" >@</span>
                            <input id="twitter_account" placeholder="account" class="form-control" />
                        </div>
                    </div>
                    <input type="submit" id="estimate" value="Estimate processing time" class="btn btn-primary"/>
                </form>
            </td>
            <td >
                <div class="form-group">
                    <label class="control-label" for="api_used">Api used</label>
                    <input id="api_used" class="form-control" value="{{api_used}}"/>
                    <label class="control-label" for="calls_used">Calls used ( /15 )</label>
                    <input id="calls_used" class="form-control" value="{{calls_used}}"/>
                    <label class="control-label" for="date_last_call">date_last_call</label>
                    <input id="date_last_call" class="form-control" value="{{date_last_call}}"/>
                </div>
            </td>
        </tr>
    </table>


    {{#each operations_dashboard_helper}}
    <form class="process">
        <div class="form-group">
            <p>__________________________________________________________________________________________________</p>
            <input type="hidden" id="_id" value="{{this._id}}"/>
            <input type="hidden" id="cursor" value="{{this.cursor}}"/>
            <label class="control-label" for="account">Account requested</label>
                <input id="account" class="form-control" value="{{this.account}}"/>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Estimates</th>
                            <th>Status</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Informations -->
                        <tr>
                            <!-- Estimations -->
                            <td>
                                <!--{{#each this.estimations}}-->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{random this.estimation.date}}" aria-expanded="true" aria-controls="collapseOne">
                                                Date of estimation: {{this.estimation.date}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{random this.estimation.date}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <label class="control-label" for="amount">Amount of followers</label>
                                            <input id="amount" class="form-control" value="{{this.estimation.amount}}"/>
                                            <label class="control-label" for="amount">Time estimated</label>
                                            <input id="time_estimated" class="form-control" value="{{time_converter this.estimation.time_estimated}}"/>
                                        </div>
                                    </div>
                                </div>
                                <!--{{/each}}-->
                            </td>
                            <!-- Status -->
                            <td>
                                Cursor:{{cursor this.cursor}}<br>
                                Time spent: [todo]   |    Time remaining: [todo]<!-- {{this.time_spent}}--><br>
                                <!-- {{time_remaining this.estimation.time_estimated this.time_spent}} --><br>
                                Amount of followers stored: {{this.followers_stored}} / {{this.estimation.amount}}
                                <input type="hidden" id="amount_followers" value="{{this.estimation.amount}}"/>
                            </td>
                            <td>
                                [todo] Graph with previous estimations <br>
                                + match it with when the Process has been called
                            </td>
                        </tr>
                        <!-- Buttons -->
                        <tr>

                            <td>
                                <input type="submit" id="process" value="Process" class="btn btn-info"/>
                            </td>
                            <td>
                                <div class="fileList">
                                    {{#each fileByAccount this.account}}
                                    <div class="file">
                                        {{#if this._id}}
                                        <a href="{{this.url download=true}}" class="btn btn-success" target="_parent">Download {{this._id}}</a>
                                        {{else}}
                                        <a class="btn btn-warning" target="_parent" disabled="true">To be processed</a>
                                        {{/if}}
                                    </div>
                                    {{/each}}
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </form>
    {{/each}}
</template>
